body{
  font-family:Arial;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#f1f5f9;
}

.box{
  background:white;
  padding:30px;
  border-radius:8px;
  width:300px;
}

li{
  padding:8px;
  cursor:pointer;
  border-bottom:1px solid #e5e7eb;
}
